<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <title>Data Bidning &amp; Controllers </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body><script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">Data Binding &amp; Controllers</a>
			</div>
		</div>
	</nav>
        <div class="container main-content">
            <div ng-controller="CustomersController">
                <br>
                <table>
                    <tr>
                        <th ng-click="doSort('name')">Name</th>
                        <th ng-click="doSort('city)">City</th>
                        <th ng-click="doSort('orderTotal')">Order Total</th>
                        <th ng-click="doSort('joined')">Joined</th>
                    </tr>
                    <tr ng-repeat="cust in customers | filter: customerFilter | orderBy:sortBy:reverse" ng-cloak>
                        <td>{{ cust.name | uppercase}}</td>
                        <td>{{ cust.city }}</td>
                        <td>{{ cust.orderTotal | currency }}</td>
                        <td>{{ cust.joined | date }}</td>
                    </tr>
                </table>
                <br>
                <h3>Total customers: {{ customers.length }}</h3>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script src=""></script>
        <script src=""></script>
    </body>
</html>