<!DOCTYPE html>
<html lang="en" ng-app>
    <head>
        <meta charset="utf-8">
        <title>Data Bidning &amp; Controllers </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body><script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <nav clas="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Data Binding &amp; Controllers</a>
                </div>
            </div>
        </nav>
        <div class="container main-content">
            <div ng-view></div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script type="text/javascript">
            let app = angular.module('customersApp', []);
            
            app.controller('CustomersController', function($scope){
               $scope.sortBy = 'name';
               $scope.reverse = false;
               
               $scope.customers= [
                    {id: 001, name: 'John', city: 'Chandler', joined: '2000-12-02', orderTotal: 300}, 
                    {id: 002, name: 'Mary', city: 'Englewood', joined: '2010-10-12', orderTotal: 400}, 
                    {id: 003, name: 'Huck', city: 'Yuma', joined: '2013-09-09', orderTotal: 500}, 
                    {id: 004, name: 'Jackie', city: 'Chandler', joined: '2000-12-02', orderTotal: 300}, 
                    {id: 005, name: 'Monika', city: 'Englewood', joined: '2010-10-12', orderTotal: 200},
                    {id: 006, name: 'Caleb', city: 'Neches', joined: '1995-08-02', orderTotal: 300}
	            ];
	           
	           $scope.doSort = function(propName){
	                $scope.sortBy = propName;
	                $scope.reverse = !$scope.reverse;
	           };
	           
	           CustomersController.inject('$scope');
	           
	           angular.module('customersApp')
	                .controller('CustomersController', CustomersController);
            });
        </script>
    </body>
</html>